{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h2>Edit Category</h2>
    {{ include('category/_form.html.twig', {'button_label': category.id is not null?'Update':'Save'}) }}


    <a href="{{ path('category_index') }}" class="btn btn-inverse my-2" title="Category list"><i class="fa fa-list"></i>
        Category list</a>

    {% if category.id is not null %}
        {{ include('category/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
