{% extends 'base.html.twig' %}

{% block title %}Review{% endblock %}

{% block body %}
    <h2>Review {{ review.game.name }} board-game By  {{ review.user.userName }}</h2>
    {{ include('review/_show_review.html.twig') }}

{% endblock %}
