{% extends 'Layout.html.twig' %}

{#      the view title      #}
{% block title controller_name %}

{#      The view style sheet    #}
{% block stylesheets %}
{% endblock %}


{# Replace dropdown in the header index  #}
{% block headerDropdown  %}
{{ parent() }}
{% endblock %}

{#      the title h1 of the view   #}
{% block h1 "Hello "~ controller_name %}

{% block LayoutBody %}

<div id="content" class="bg-white container-fluid  p-5 my-0"  style="overflow: auto" >

    {% block body %}
    Page index
    {% endblock %}

</div>
{% endblock %}


{#      The view JavaScript    #}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
